{% extends ['page.html.twig'] %}

{%- block content ~%}
      <div class="c-404">
            <img src="{{ asset('404.png') }}" alt="Page not found">
            <h1 class="c-404__title">{% trans %}Page not found{% endtrans %}</h1>
      </div>
{%- endblock ~%}