{% extends '_base.html.twig' %}

{% block nav %}
    {% include 'partials/navigation.html.twig' with { menu: site.menus.main } %}
{% endblock %}

{% block content %}
    <div class="c-doc">
        {{ page.content }}
    </div>
{% endblock %}