{% if menu|length > 1 %}
    <nav class="c-menu" role="navigation">
        <button class="c-menu__header" type="button">
            Documentation
            <svg class="c-menu__burger" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.8125 12C20.8125 12.1492 20.7532 12.2923 20.6477 12.3977C20.5423 12.5032 20.3992 12.5625 20.25 12.5625H3.75C3.60082 12.5625 3.45774 12.5032 3.35225 12.3977C3.24676 12.2923 3.1875 12.1492 3.1875 12C3.1875 11.8508 3.24676 11.7077 3.35225 11.6023C3.45774 11.4968 3.60082 11.4375 3.75 11.4375H20.25C20.3992 11.4375 20.5423 11.4968 20.6477 11.6023C20.7532 11.7077 20.8125 11.8508 20.8125 12ZM3.75 6.5625H20.25C20.3992 6.5625 20.5423 6.50324 20.6477 6.39775C20.7532 6.29226 20.8125 6.14918 20.8125 6C20.8125 5.85082 20.7532 5.70774 20.6477 5.60225C20.5423 5.49676 20.3992 5.4375 20.25 5.4375H3.75C3.60082 5.4375 3.45774 5.49676 3.35225 5.60225C3.24676 5.70774 3.1875 5.85082 3.1875 6C3.1875 6.14918 3.24676 6.29226 3.35225 6.39775C3.45774 6.50324 3.60082 6.5625 3.75 6.5625ZM20.25 17.4375H3.75C3.60082 17.4375 3.45774 17.4968 3.35225 17.6023C3.24676 17.7077 3.1875 17.8508 3.1875 18C3.1875 18.1492 3.24676 18.2923 3.35225 18.3977C3.45774 18.5032 3.60082 18.5625 3.75 18.5625H20.25C20.3992 18.5625 20.5423 18.5032 20.6477 18.3977C20.7532 18.2923 20.8125 18.1492 20.8125 18C20.8125 17.8508 20.7532 17.7077 20.6477 17.6023C20.5423 17.4968 20.3992 17.4375 20.25 17.4375Z" fill="#8c8c8e"/>
            </svg>
        </button>
        <ul class="c-menu__list">
            {% for item in attribute(site.menus, menu)|sort_by_weight %}
                <li class="c-menu__item">
                    <a class="c-menu__link{% if item.url == page~'/' %} is-current{% endif %}" href="{{ url(item.url) }}">{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}

